#header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid black;
}

#logo {
  width: 50%;
  text-decoration: none;
}

#create-login-container {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#create-user{
  height: 50px;
}

#login-user{
  height: 50px;
}

#account-create{
  width: 50%;
}

#account-login{
  width: 50%;
  margin: 0 0 0 35px;
}
