<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>
  <body>
    <header id='header-container'>
      <a href="/" id="logo">
        <h1>GS</h1>
      </a>
      <div>Logged in as {{username}}</div>
      <div id="create-login-container">
        <button class="btn create-login" id="login-user" onclick="location.href = '/createlogin';">Login Out</button>
      </div>
    </header>
    <div>
      <h3>{{pageheader}}</h3>
      <form id="account-login" method="POST" action="/addsecret">
        <div class="form-group">
          <label>Secret</label>
          <input class="form-control" name="secret" id="account-code">
        </div>
        <div class="form-group">
          <label>Who also knows?</label>
          <select class="form-control" name="whoknows" id="who-knows-input">
            {{#each knowsusernames}}
              <option>{{this.username}}</option>
            {{/each}}
          </select>
        </div>
        <button type="submit" name="button" class="btn btn-primary" id="login-button">Add Secret</button>
      </form>
    </div>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="/javascript/main.js" charset="utf-8"></script>
  </body>
</html>
