<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>
  <body>
    <header id='header-container'>
      <a href="/" id="logo">
        <h1>{{title}}</h1>
      </a>
    </header>
    <div id="main-container">
      <form id="account-create" method="POST" action="/createlogin">
        <div class="form-group">
          <label for="usr">Username</label>
          <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
          <label for="pwd">Email</label>
          <input type="text" class="form-control" name="email" id="user-email">
        </div>
        <button type="submit" class="btn btn-primary" id="create-button">Create Account</button>
      </form>
      <form id="account-login">
        <div class="form-group">
          <label for="pwd">Code</label>
          <input type="password" class="form-control" id="account-code">
        </div>
        <button type="submit" name="button" class="btn btn-primary">Login</button>
      </form>
    </div>
    <script src="/javascript/main.js" charset="utf-8"></script>
  </body>
</html>
