<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>
  <body>
    <header id='header-container'>
      <a href="/" id="logo">
        <h1>GS</h1>
      </a>
      <div id="create-login-container">
        <button class="btn btn-info create-login" id="create-user" onclick="location.href = '/createlogin';">Create Account</button>
        <button class="btn create-login" id="login-user" onclick="location.href = '/createlogin';">Login</button>
      </div>
    </header>
    <div>
      <h3>{{pageheader}}</h3>
      <p>You must login or create an account to keep secrets</p>
    </div>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="/javascript/main.js" charset="utf-8"></script>
  </body>
</html>
